/*订单*/
body{
	color: #b7c2c7;
}
h3{
	color: #000;
}
#logo{
	width: 990px;
	margin: 0 auto;
	padding: 15px 0;
}
#logo img{
	float: left;
}
#logo .step{
	width: 481px;
	height: 58px;
	float: right;
	background: url(../img/step2.jpg) no-repeat;
}
.step li{
	float: left;
	width: 160px;
	height: 23px;
	text-align: center;
	color: #b7c2c7;
	margin-top: 35px;
}
.step li:nth-of-type(2){
	color: #62c92b;
}

/*content*/
#content{
	width: 990px;
	overflow: hidden;
	margin: 70px auto;
	border: 1px solid #ddd;
}
.con-top{
	height: 38px;
	line-height: 38px;
    background-color: #eff2f5;
    padding-left:20px ;
    font-size: 14px;
    color: #000;
}
/*user-info*/
.user-info{
	overflow: hidden;
	padding: 10px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.user-info h3{
	padding-left: 20px;
	font-size: 12px;
}
.user-info h3 a{
	margin-left: 20px;
}
.user-info label{
	height: 50px;
	line-height: 50px;
	padding-left: 50px;
}
.user-info .save{
	display: block;
	width: 140px;
	height: 30px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	font-weight: 900;
	background: #ff4d50;
	color: #fff;
	margin-left: 50px;
}
.mail{
	width: 888px;
	margin: 0 auto;
	overflow: hidden;
	display: none;
}
.mail label{
	display: block;
	height: 36px;
	color: #000;
	padding: 0;
}
.mail label span{
	display: inline-block;
	width: 82px;
	text-align: right;
}
.mail label{
	line-height: 36px;
	
}
.mail label:nth-of-type(1){
	background: #ffe8e8;
	border: 1px solid #db9a9a;
}
.mail label input{
	height: 24px;
	border:1px solid #ddd;
	outline: 0;
}
/*send*/
.send{
	overflow: hidden;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.send h3{
	padding-left: 20px;
	font-size: 12px;
}
.send p{
	margin-left: 50px;
	padding: 20px 0;
}
/*bill*/
.bill{
	overflow: hidden;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.bill h3{
	padding-left: 20px;
	font-size: 12px;
}
.bill input:nth-of-type(1){
	margin: 20px 0 20px 50px;
}

/*merchbill*/
.merchbill{
	overflow: hidden;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.merchbill h3{
	padding-left: 20px;
	font-size: 12px;
}
.mb-list{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}
.table-title{
	overflow: hidden;
	color: #000;
}
.table-title span{
	float: left;
	background: #eff2f5;
	text-align: center;
	line-height: 25px;
	width: 100px;
	border-right: 1px solid #fff;
	box-sizing: border-box;
}
.table-title span:nth-of-type(1){
	width: 600px;
}
.good-list{
	overflow: hidden;
}
.good-list li{
	padding: 10px;
	overflow: hidden;
	border-bottom: 1px dashed #000;
}
.good-list li img,.good-list li span,.good-list li i{
	float: left;
}
.good-list li span{
	margin-left: 20px;
}
.good-list li span p{
	line-height: 28px;
}
.good-list li i{
	margin: 15px 50px;
}
.good-list li b,.good-list li strong{
	float: right;
	line-height: 55px;
}
.good-list li strong{
	margin-right: 33px;
}
.good-list li b{
	margin-right: 68px;
}
/*给卖家留言*/
.message{
	width: 900px;
	overflow: hidden;
	background: #eff2f5;
	margin: 0 auto;
	margin-top: 20px;
}
.mes-left,.mes-right{
	float: left;
}
.mes-left span,.mes-left textarea{
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
.mes-left textarea{
	background: #f5f8fa;	
	border: 1px dashed #ddd;
	outline: 0;
	resize: none;
}
.mes-right p{
	margin-left: 340px;
	margin-top: 5px;
}
.mes-right p:nth-of-type(1){
	margin-top: 25px;
}
.mes-right p b,.mes-right p strong{
	font-weight: 100;
	margin: 0 20px;
}
.mes-right span{
	display: block;
	width: 180px;
	height: 40px;
	border: 1px solid #db9a9a;
	background: #ffe8e8;
	line-height: 40px;
	margin-left: 340px;
	display: none;
}
.mes-right p i{
	font-style: normal;
}
.mes-right span input{
	width: 120px;
	margin-left: 5px;
}
.mes-right span a{
	display: inline-block;
	width: 40px;
	line-height: 18px;
	background: #ff4d50;
	color: #fff;
	border-radius: 4px;
	text-align: center;	
	margin-left: 5px;
}
/*integral*/
.integral{
	overflow: hidden;
	margin-top: 20px;
	color: #000;
}
.integral p{
	text-align: right;
	line-height: 25px;
}
.integral p strong{
	margin-left: 30px;
}
.integral p b{
	margin-left: 51px;
}
.integral p:nth-of-type(3),.integral p:nth-of-type(4){
	margin-right: 90px;
}




/*con-bottom*/
.con-bottom{
	height: 50px;
	background: #eff2f5;
	line-height: 50px;
	color: #000;
}
.con-bottom a{
	margin-left: 20px;
}
.con-bottom strong,.con-bottom span{
	float: right;
}
.con-bottom strong{
	margin: 0 30px;
	font-size: 14px;
	line-height: 50px;
}
.con-bottom strong b{
	font-size: 18px;
	line-height: 45px;
	margin: 0 5px;
	font-weight: 100;
}
.con-bottom i{
	font-style: normal;
}
