
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493216994100'); /* IE9*/
  src: url('iconfont.eot?t=1493216994100#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493216994100') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493216994100') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493216994100#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before { content: "\e624"; }

.icon-wine:before { content: "\e62d"; }

.icon-1167yangjiu:before { content: "\ec23"; }

.icon-iconfontredpacket:before { content: "\e629"; }

.icon-liulanlishi:before { content: "\e606"; }

.icon-hunqing:before { content: "\e61a"; }

.icon-59:before { content: "\e684"; }

.icon-shiliangzhinengduixiang101:before { content: "\e638"; }

.icon-xin:before { content: "\e607"; }

.icon-baijiu:before { content: "\e728"; }

.icon-huangjiu:before { content: "\e601"; }

